
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    height: 72px;
    margin: 0 auto;
    align-items: center;
}
ul{
    display:flex;
    gap: 24px;
}
ul li{
    list-style: none;
}